@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto+Mono:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url(./frames.css);
.darkmode {
  background-color: rgb(71, 68, 68);
  color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Secular One", sans-serif;
}

img {
  max-width: 100%;
  fill: cover;
  display: block;
}

.container_principal_logo {
  background-color: #dd1a1a;
}

.logo {
  width: 250px;
  height: 100px;
  padding-top: 1rem;
  padding-left: 1rem;
}

.barra_logo {
  width: 100%;
  height: 30px;
  background-color: rgb(22, 22, 22);
  position: relative;
}

.circule {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: rgb(22, 22, 22);
  border-radius: 50%;
  right: 2rem;
  top: -1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circule_small {
  width: 52px;
  height: 52px;
  position: absolute;
  background-color: #e3e3e3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallest {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgb(22, 22, 22);
  border-radius: 50%;
}

/* ----- Header  APP.JSX ----- */
.principal_header {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1rem;
}

.principal_Title {
  color: rgba(159, 159, 7, 0);
}

.switch {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.3rem 0.5rem;
  gap: 1rem;
}
.switch:hover {
  transform: scale(1.1);
}
.switch::after {
  content: "";
  width: 47px;
  height: 47px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  transition: 0.3s ease all;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background-color: orange;
  color: black;
}
.switch.active::after {
  left: unset;
  right: 0;
}

.switch span {
  display: flex;
  background-color: none;
  color: #fff;
}

/* ---------- Loading page --------------------------*/
.container_loading_page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
  background-image: url(../img/196c6c0c541d42385dc1bda77a76370a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_loading {
  width: 200px;
  height: 200px;
  margin-top: -8rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.title_loading_page {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 30px;
  text-shadow: 20px 20px 40px rgb(0, 0, 0);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  /* font-family: 'Abril Fatface', cursive;
  font-family: 'Roboto Flex', sans-serif;
  font-family: 'Roboto Mono', monospace;*/
}

/*-------- Input Name ------- */
.container_home {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.container_img_inputName {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.title_home {
  font-size: 40px;
}

.container_img_inputName img {
  height: 300px;
  margin-bottom: 1rem;
  transform: scale(1.2);
}

.button_input_Name {
  display: flex;
  margin-top: 1rem;
}

.button_input_Name input {
  border-radius: 20px;
  padding: 1rem;
}

.button_input_Name button {
  border-radius: 20px;
  position: relative;
  right: 2rem;
  background-color: #dd1a1a;
  color: #f1f1f1;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
}
.button_input_Name button:hover {
  transform: scale(1.1);
}

::-moz-placeholder {
  font-size: 20px;
}

:-ms-input-placeholder {
  font-size: 20px;
}

::placeholder {
  font-size: 20px;
}

.container_search {
  display: flex;
}
.container_search .inputSearch {
  border-radius: 20px;
  width: 80%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 1rem;
  font-size: 20px;
}
.container_search .button__Search {
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dd1a1a;
  border-radius: 0 20px 20px 0;
  position: relative;
  right: 2rem;
  color: #e3e3e3;
  font-size: 20px;
  margin-top: 20px;
}
.container_search:hover {
  transform: scale(1.05);
}

.inputSearch::-moz-placeholder {
  font-size: 15px;
}

.inputSearch:-ms-input-placeholder {
  font-size: 15px;
}

.inputSearch::placeholder {
  font-size: 15px;
}

.containerSuggest {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 300px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 0.5rem;
}
.containerSuggest:hover {
  transform: scale(1.05);
}

.option {
  font-size: 15px;
}

.containerSuggest i {
  width: 20px;
  position: absolute;
  top: -1rem;
  right: 2.5rem;
}

.container_Pokedex {
  width: 80%;
  margin: 0 auto;
}

.title_Pokedex b {
  color: #dd1a1a;
}

.container_info_pokedex {
  position: relative;
}

.container_button_back button {
  border-radius: 50%;
  padding: 1rem;
  background-color: #dd1a1a;
  color: #f1f1f1;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  position: fixed;
  right: 2rem;
  top: 70%;
}

.container__pokemonCard {
  padding: 2rem 0;
  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 2rem;
}

.container_pokemons {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 5px 5px 12px rgb(0, 0, 0);
  position: relative;
}

.container_pokemons:hover {
  transform: scale(1.1);
}

.container_background_card {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
}

.container_img_pokemon {
  width: 50%;
  position: absolute;
  top: -2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_name_pokemmon {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_type_pokecard {
  display: flex;
  gap: 0.5rem;
}

.container_grid_info_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container_pokedexId {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.containerId {
  border: 0.1rem solid;
  padding: 0.2rem 1rem;
}

.container_principal_info_pokedexId {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0rem 0 1rem 0;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
  position: relative;
}

.divextra {
  width: 100%;
  height: 200px;
  margin-bottom: 4rem;
}

.container_img_id {
  position: absolute;
  top: -2rem;
}

.container_width_heigth {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container_type_ability {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info_type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.info_p_type {
  border: 0.1rem solid;
  padding: 0.2rem 1rem;
  box-shadow: 0 4px 4px rgb(0, 0, 0);
}

.container_moviments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.25rem solid;
  margin-top: 2rem;
  padding: 0.2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
  height: 450px;
  overflow: hidden;
}

.container_p_moviments {
  display: flex;
  gap: 4rem;
  padding: 1rem;
}

.container_moviments p {
  border: 0.1px solid;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #E5E5E5;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.container_title_moviment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title_moviments {
  border: 0.2rem solid;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
  font-size: 30px;
  background-color: #676767;
  color: #f1f1f1;
}

footer {
  position: fixed;
  width: 80%;
  margin: 0 auto;
  bottom: 0;
  left: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(3, 7, 6, 0.2470588235);
  border-radius: 10px 10px 0 0;
}

.containerbuttonFooter {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn-back {
  font-size: 30px;
  background-color: #dd1a1a;
  color: #f1f1f1;
  border-radius: 10px 0 0 10px;
  padding: 0.25rem;
}
.btn-back:hover {
  transform: scale(1.1);
}

.btn-next {
  font-size: 30px;
  background-color: #dd1a1a;
  color: #f1f1f1;
  border-radius: 0 10px 10px 0;
  padding: 0.25rem;
}
.btn-next:hover {
  transform: scale(1.1);
}

.pagination_numbers {
  font-size: 30px;
  padding: 0 1rem;
  border-radius: 10px;
}
.pagination_numbers:hover {
  transform: scale(1.1);
  color: #839cec;
}

/*-------- Responsive min-width 600 px ------- */
/*-------- Responsive min-width 1000 px ------- */
@media screen and (min-width: 1000px) {
  .container_loading_page {
    background-image: url(../img/forest.jpg);
  }
  .logo {
    width: 300px;
    height: 100px;
  }
  .circule {
    width: 100px;
    height: 100px;
    right: 15rem;
    top: -2.3rem;
  }
  .circule_small {
    width: 72px;
    height: 72px;
  }
  .smallest {
    width: 50px;
    height: 50px;
  }
  .logo_loading {
    width: 300px;
    height: 300px;
  }
  .title_loading_page {
    font-weight: 500;
    font-size: 50px;
  }
  .container_search .inputSearch {
    width: 50%;
  }
  .containerSuggest {
    position: relative;
    left: 70%;
    bottom: 5rem;
    padding-top: 0.5rem;
  }
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .title_home {
    font-size: 50px;
  }
  .container_img_inputName {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
  }
  .container_img_inputName label {
    font-size: 40px;
    font-weight: bold;
  }
  .container_img_inputName input {
    font-size: 25px;
    font-weight: bold;
  }
  .container_img_pokemon {
    top: -2.5rem;
    width: 38%;
  }
  .container_pokedexId {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .container_img_id {
    top: -3rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divextra {
    margin-bottom: 2rem;
  }
  .container_width_heigth {
    font-size: 30px;
    gap: 5rem;
    margin: 1.5rem 0;
  }
  .container_type_ability {
    gap: 5rem;
  }
  .container_type_ability h3 {
    font-size: 30px;
  }
  .info_type {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 1.5rem 0;
  }
  .info_p_type {
    border: 0.1rem solid;
    padding: 0.2rem 1rem;
    box-shadow: 0 4px 4px rgb(0, 0, 0);
  }
  .container_name_barritas > h2 {
    font-size: 50px;
    margin-top: 1rem;
  }
  .containerId {
    font-size: 30px;
  }
  .container_moviments {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer {
    width: 90%;
    left: 5rem;
    background-color: rgba(250, 250, 250, 0);
  }
  .containerbuttonFooter {
    width: 50%;
    justify-content: space-between;
    background-color: rgba(0, 60, 255, 0.1019607843);
    padding: 0.25rem 0;
    border-radius: 20px;
  }
  .btn-back {
    font-size: 30px;
    background-color: rgba(221, 26, 26, 0.5921568627);
    color: #f1f1f1;
    border-radius: 10px 0 0 10px;
    padding: 0.25rem;
  }
  .btn-next {
    font-size: 30px;
    background-color: rgba(221, 26, 26, 0.5921568627);
    color: #f1f1f1;
    border-radius: 0 10px 10px 0;
    padding: 1rem 0.25rem;
  }
  .pagination_numbers {
    font-size: 30px;
    padding: 0 1rem;
    background-color: rgba(52, 61, 91, 0.7215686275);
    color: #e3e3e3;
  }
}/*# sourceMappingURL=style.css.map */